/* App.css */
.tabs-container {
  display: flex;
}

.tab {
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
}

/* Tabs.css */
.tabs-container {
  display: flex;
  justify-content: space-around;
  /* Adjust as needed */
  /* Center the tabs horizontally */
  align-items: center;
  /* Center items vertically */
  width: 100%;
  /* Make the tabs stretch across the full width */
}

.tab {
  cursor: pointer;
  margin: 0 10px;
  /* Add margin around the tabs */
  text-align: center;
  position: relative;
}


.tab:last-child {
  margin-right: 0;
  /* Remove right margin for the last tab */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 20px;

  /* Adjust the height as needed */
}

/* Add styles for the image */
.image {
  max-width: 100%;
  /* Ensure the image does not exceed its container width */
  max-height: 100%;
  /* Ensure the image does not exceed its container height */
}

.underline-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* Align the underline with the tabs */
}

.underline {
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
}